.splash {
  height: 100vh;
  width: auto;
  background-image: url('https://s3.amazonaws.com/railsbnb-pub/splash_background2.jpg');
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
} 

.splash header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.splash-logo-container {
  padding-top: 30px;
  height: 40px;
  margin-left: 20px;
}

.logo {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}



.splash-nav-buttons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
}

button:focus {
  outline:0;
}

.splash-nav-button {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 40px;
  background: none;
  border: none;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
}

.splash-nav-button:hover {
  border-bottom: 3px solid white;
}

.splash-nav-button a {
  text-decoration: none;
  color: white;
}


.splash-search-container {
  width: 440px;
  height: 475px;
  background-color: white;
  box-sizing: border-box;
  color: #484848;
  padding: 30px;
  margin-left: 15vw;
  border-radius: 4px;
  position: relative;
}

.splash-search-container h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
  font-weight: 500;
}

.splash-search-button {
  background-color: rgb(255, 90, 95);
  padding: 14px 22px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  width: 105px;
  position: absolute;
  top: 380px;
  left: 305px;
}

.splash-search-form {
  display: flex;
  flex-direction: column;
}

.search-date-inputs {
  display: flex;
}

.splash-date-input {
  width: 185px;
  margin-top: 10px;
}

.splash-search-form input {
  font-size: 17px;
  padding: 15px 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-weight: 200;
}

.splash-search-calendar {
  position: absolute;
  top: 285px;
  left: 10px;
}


.splash-search-guests #search-guests-subtract{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #3c8a90;
  color: #3c8a90;
}

.splash-search-guests #search-guests-plus{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #3c8a90;
  color: #3c8a90;
}

.splash-search-guests #search-guests-placeholder{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  color: white;
}

.splash-search-guests-buttons {
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.splash-search-form input:focus {
  outline: none;  
}

.splash-search-form label {
  font-size: 12px;
  font-weight: 800; 
  margin-bottom: 8px;
}

.revealed {display: block;}

.revealed-guests {
  display: flex;
  height: 90px;
  width: 375px;
  border-radius: 4px;
  z-index: 2;
  background-color: white;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #ccc;
  position: absolute;
  justify-content: space-between;
  top: 375px;
  align-items: center;
}

.splash-num-guests {
  position: absolute;
  right: 83px;
  top: 35px;
}


.hidden {display: none;}
.hidden-cal {z-index: -100;}
  
