.show-photos-container {
  cursor: pointer;
  height: 600px;
  width: 100vw;
  display: flex;
  background-color: black;
}

.main-photo-container {
  height: 600px;
  width: 50vw;
  overflow: hidden;
  background-color: black;
}

.main-photo {
  height: 600px;
  width: calc(50vw - 2px);
  border: 1px solid grey;
  object-fit: cover;
  transition: opacity 0.5s, transform 0.5s;
}

.sub-photos-container {
  height: 600px;
  display: flex;
  width: 50vw;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: black;
}

.one-sub-photo {
  overflow: hidden;
  height: 298px;
  width: calc(25vw - 2px);
  border: 1px solid grey;
  background-color: black;
}

.sub-photos {
  height: 298px;
  width: calc(25vw - 2px);
  border-right: none;
  border-left: none;
  object-fit: cover;
  transition: transform 0.5s, opacity 0.5s; 
}



.main-photo-container:hover ~ .sub-photos-container .sub-photos {
  opacity: 0.5;
}

.main-photo:hover {
  transform: scale(1.2);
  opacity: 1 !important;
}

.sub-photos:hover {
  transform: scale(1.2);
  opacity: 1 !important;
}

.show-photos-container:hover .sub-photos {
  opacity: 0.5;
}

.show-photos-container:hover .main-photo {
  opacity: 0.5
}

.photos-modal-overlay {
  z-index: 100;
  position: fixed; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  background-color: rgba(38, 38, 38, 1);
}

.photos-modal-content {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: 90px;
}

.modal-photo {
  width: 700px;
  height: 500px;
}

.photos-modal-content:focus {
  outline: none;  
}

.photos-x-button {
  position: fixed;
  color: white;
  background: none;
  border: none;
  font-size: 70px;
  top: 5px;
  right: 20px;
  font-weight: 100;
}

.prev-photo {
  position: fixed;
  color: white;
  background: none;
  font-size: 100px;
  border: none;
  top: 280px;
  left: 50px;
  font-family: 'Comfortaa', cursive;
}

.next-photo {
  position: fixed;
  color: white;
  background: none;
  font-size: 100px;
  border: none;
  top: 280px;
  right: 50px;
  font-family: 'Comfortaa', cursive;
}

.modal-caption {
  color: white;
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}
